/* For styling all the page border , padding & margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* setting the page background colour to #d9dcd6 */
body {
    background-color: #d9dcd6;
}
/* class for setting the page header padding, font family , background colour to #2a607c and color of "Hori n" text*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* class for setting the header 1 disply & font size */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* class for setting the header 1(seo) color */
.header h1 .seo {
    color: #d9dcd6;
}
/* class for setting the header div (Three links at top right */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* class forsetting the header div (Three links at top right */
.header div ul {
    list-style-type: none;
}
/* class for setting the header div (list of three links at top right */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* class for setting Background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Code consolidating css selectors and properties for 3 images (seo,online & social) */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* class for setting the code for the container for main contents*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*class setting the code for the right hand side benefits container*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* setting color of benefits text */
.benefit-lead,.benefit-brand,.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* setting position of benefits text */
.benefit-lead,.benefit-brand,.benefit-cost {
    margin-bottom: 10px;
    text-align: center;
}
/* setting properties of benefits images */
.benefit-lead img,.benefit-brand img,.benefit-cost img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Consolidating and setting properties of contents */
.search-engine-optimization,.online-reputation-management,.social-media-marketing{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Consolidating and setting properties of contents */
.search-engine-optimization img,.online-reputation-management img,.social-media-marketing img{
    max-height: 200px;
}
/* Code consolidating css selectors and properties */
.search-engine-optimization,.online-reputation-management,.social-media-marketing {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Setting the footer properties */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Setting the footer font size */
.footer h2 {
    font-size: 20px;
}